* {
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  #outline {
    display: block;
    border: 1px solid black;
    background-color: grey;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    height: auto;
  }

  #or {
    text-align: center;
  }

  .enter-clear {
    display: flex;
    justify-content: center;
    width: 10%;
  }
  .enter-clear > #enter {
    margin-bottom: 20%;
    margin-top: 50%;
  }

  .enter-clear > #clear {
    margin-bottom: 10%;
  }

  #control-buttons > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  label {
    margin-left: 1vw;
    color: red;
  }

  h3 {
    text-align: center;
  }

  #logo {
    width: 5vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
  }

  hr {
    border: 2px solid red;
  }

  #search-all {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
  }

  #incomplete-tasks {
    margin-right: 1vw;
  }

  #last-edit {
    margin-left: 1vw;
  }

  #name-input,
  #job-id {
    background-color: aqua;
    display: flex;
    justify-self: center;
    max-width: 80%;
    overflow-x: scroll;
  }

  label {
    display: flex;
    justify-content: center;
    font-size: smaller;
  }
  #sign-out {
    position: absolute;
    right: 4vw;
    color: red;
    top: 7.5vh;
  }

  #sign-in-form {
    height: 20vh !important;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
  }

  #credentials {
    display: block;
  }

  #user-name {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .log-in {
    min-width: 70%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #enter-credentials {
    height: 5vh;
    width: 8vw;
  }
}

#enter-credentials {
  background-color: green;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  color: white;
}

#sign-in-form {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 30vh;
  width: 40vw;
  background-color: rgb(202, 198, 198);
}

#sign-out:hover {
  color: green;
}

@media only screen and (min-width: 768px) {
  img {
    width: 3vw;
    height: auto;
    display: flex;
    justify-self: center;
    margin-bottom: 15vh;
  }

  #sign-out {
    position: absolute;
    color: red;
    top: 5.8vh;
    right: 8vw !important;
  }

  #outline {
    border: 2px solid black;
    max-width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(94, 110, 167);
    margin-top: 26vh;
  }

  #search-all {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
  }

  #incomplete-tasks {
    margin-right: 1vw;
  }

  #last-edit {
    margin-left: 1vw;
  }

  h3 {
    text-align: center;
  }

  label {
    margin-left: 1vw;
  }

  #or {
    text-align: center;
  }

  input {
    background-color: rgb(192, 173, 173);
  }

  #name-input,
  #job-id {
    max-width: 90%;
    min-width: 90%;
    display: flex;
    justify-self: center;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  input::placeholder {
    text-align: center;
    font-style: italic;
    color: white;
  }

  .enter-clear {
    display: flex;
    justify-content: center;
  }

  .enter-clear > #enter {
    margin-right: 1vw;
  }

  .enter-clear > #clear {
    margin-left: 1vw;
  }

  button:hover {
    background-color: green;
  }

  #sign-out {
    position: absolute;
    right: 2vw;
  }

  #logo {
    margin-top: 5vh;
  }
}
